body {
  margin: 0;
  user-select: none;
}

#app {
  margin: 0;
  padding: 0;
  background-color: #1C1C1C;
  background-image:
      linear-gradient(45deg, #242424 25%, transparent 25%),
      linear-gradient(-45deg, #242424 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #242424 75%),
      linear-gradient(-45deg, transparent 75%, #242424 75%);
  background-size: 11px 11px;
  background-position: 0 0, 0 11px, 11px -11px, -11px 0;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
